* {
  padding: 0;
  margin: 0;
}

.adataim{
  background-color: #9296D4;
  color: #FFFFFF;
  padding: 50px;
}

.header {
  background-color: #CDCEE6;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}

.header > h1 {
  text-align: center;
  padding: 30px 0;
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: #B8B9DB;
  text-align: center;
  justify-content: center;
  position: sticky;
}

.navbar > div{
  width: 100px;
  text-align: center;
  display: block;
  padding: 14px 30px;
  &:hover {
    color: #4A4860;
    background-color: #FFC4EB;
  }
}

.bg-img{
  filter: blur(8px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: -100;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
  z-index: -50;
  .delete{
    background-color: #FF559D;
    margin: 10px;
    border: none;
    width: 50%;
    height: 40px;
  }
}



.bevitel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;

  mat-label {
    margin: 10px;
  }
  button{
    background-color: #FF559D;
    margin: 10px;
    border: none;
    width: 100%;
    height: 40px;
  }
}



section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 10px;
  .adat {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  img {
    max-height: 200px;
    margin: 10px;
  }
}

.rose {
  background-color: #FFC4EB;
}

.purple {
  background-color: #CDCEE6;
}

.felhasznalo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 25px 50px;
  p{
    margin:5px;
  }
}

@media only screen and (max-width: 661px) {
  section {
   
    margin-left: 0;
    margin-right: 0;
    img {
      max-width: 250px;
    }
  }
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 510px) {
  .navbar > div {
    width: 80px;
  }
  
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (max-width: 380px) {
  .navbar {
    flex-direction: column;
  }
  .navbar > div {
    width: 100%;
    padding: 10px;
  }
}

