<div class="hatter" [ngStyle]=getUrl() ></div>
<div class="minden">
  <h1>Bejelentkezés</h1>
  <p>{{hiba}}</p>
  <div class="mat-form-field">
    <mat-form-field appearance="outline">
      <mat-label for="email">E-mail:</mat-label>
      <input matInput type="text" [formControl]="email" /><br/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="jelszo">Jelszó:</mat-label>
        <input matInput type="password" [formControl]="jelszo" /><br/>
    </mat-form-field>
      <button mat-raised-button id="login" (click)="login()" >Bejelentkezés</button><br/>

  </div>
</div>
