<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (onClose)="close($event,sidenav)" [data1]="data1" [data2]="data2" ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content >
    <div class="menu" *ngIf="!(this.actual.includes('locations/allocates'))">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
    </div>
    <router-outlet (activate)="whichPage($event)" ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
