<div >
  <div class="bg-img" [ngStyle]=getUrl()></div>
  <img src="{{hely.kep}}">
  <div class="adatok">
    <h1>{{hely.nev}}</h1><br/>
    <p>Tel.: {{hely.telefon}}</p>
    <p>E-mail: {{hely.email}}</p>
    <p>Cím: {{hely.cim}}</p>
    <p>Férőhely: {{hely.feroHely}}</p>
    <p>További információkért keress fel minket,
      a feltűntetett elérhetőségek egyikén.</p>
  </div>

    <mat-card>
      <mat-card-header>Válaszd ki az időpontot</mat-card-header>
      <mat-card-content>
      <input matInput [matDatepicker]="datepicker" [formControl]="datum" >
        <mat-datepicker #datepicker></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      </mat-card-content>
      <mat-card-actions>
      <button mat-button (click)="foglal()" >Lefoglalás</button>
      <button mat-button (click)="vissza()" >Vissza</button>
      </mat-card-actions>
    </mat-card>

</div>
